.LostAndFoundPets
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.LostAndFoundPets .PetLost, .LostAndFoundPets .PetFound
{
    transition: box-shadow 0.6s linear;
    margin: 0.5em;
    box-sizing: border-box;
    padding: 40px 10px;
    text-align: center;
    padding-bottom: 10px;
    width: 320px;
}
.rasa
{
        color: grey;
        font-size: 18px;
}
.lost{
    margin-top:15px;
    border:2px solid red;
    border-radius:24px;
    background:lightcoral
}
.found{
    margin-top:15px;
    border:2px solid green;
    border-radius:24px;
    background:greenyellow
}
.PetLost
{
    box-shadow: 0px 0px 0px 5px #FC5185; 
}
.PetFound
{
    box-shadow: 0px 0px 0px 5px rgb(121, 252, 81); 
}
.PetLost:hover
{
    box-shadow: 0px 0px 0px 10px #FC5185;
}
.PetFound:hover
{
    box-shadow: 0px 0px 0px 10px rgb(121, 252, 81);
}
.petpic
{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: -50px;
  left: calc(50% - 50px);
}