*{
    text-decoration:none;
    list-style:none; 
    margin:0px; 
    padding:0px; 
    outline:none;
}

body{
    margin:0px; 
    padding:0px;
  
    }

section.intro{
    width:100%;
    max-width:1200px; 
    margin:0px auto;
    display:table;
    position:relative;
}


header{
    width:100%;
    display:table;
    background-image:linear-gradient(rgb(0, 0, 0),rgba(163, 17, 54, 0.842));
    margin-bottom:20px;
    }

#logo img{
    float:left; 
    height:100px;
    width:auto;
    padding:20px 0px;
}

nav{
    width:auto;
    float:right;
    margin-top:50px;
}
nav ul{
    display:table;
     float:right;
    }
nav ul li{
    float:left;
}
nav ul li:last-child{
    padding-right:0px;
}
nav ul li a{
    color:#eec1f0;
    border-radius:24px;
    font-size:18px;
    padding: 10px 10px;
    display:inline-block; 
    transition: all 0.5s ease 0s;
}
nav ul li a:hover{
    background-color:transparent;
     color:#f076ea; 
     transition: all 0.5s ease 0s;
    }
nav ul li a:hover i{
    color:#28fdb6; 
    transition: all 0.5s ease 0s;
}
nav ul li a i{
    padding-right:10px; 
    color:#85b3e2; 
    transition: all 0.5s ease 0s;
}

.toggle-menu{
     
    height:10px; 
    color:white;
    margin-bottom:4px;
    font-size:20px;
    margin-bottom:0px;
   
    top:5%;
  
}

#toggle-1,.toggle-menu{
    display:none;
}
.active
{
    border-radius:24px;
    border:2px solid #1abec3;
}



footer{
    
    display:table; 
    padding-bottom:30px; 
    width:100%; 
    background-color: rgb(53, 189, 189);}
.social{
    
    margin:0px auto; 
    display:table;

}
.social li{
    
    float:left; 
    padding:0px 10px;

}
.social li a{

    color:#0a0214; 
    transition: all 0.5s ease 0s;

}
.social li a:hover{
    
    color:rgb(107, 219, 172); 
    transition: all 0.5s ease 0s;

}

@media only screen and (max-width: 1440px) {
section.intro{
    
    max-width:95%;

}


}

@media only screen and (max-width: 980px) {
header{

    padding:20px 0px;

}
#logo{
    
    padding:0px;
}
#toggle-1 {
    position: absolute; 
    top: -9999px; 
    left: -9999px; 
    background:none;

}
#toggle-1:focus{
    
    background:none;
}
.toggle-menu {
    
    float:right; 
    padding:8px 0px; 
    display:inline-block; 
    cursor:pointer;
 }
 #toggle-1:checked ~ nav {
    display:block;
}

nav{
    display:none; 
    position:absolute; 
    right:0px; 
    top:53px; 
    background-color:transparent; 
    padding:0px; 
    z-index:99;}
nav ul{
    width:auto;
}
nav ul li{
    float:none; 
    padding:0px; 
    width:100%; 
    display:table;
}
nav ul li a{
    color:rgb(10, 10, 10); 
    font-size:15px; 
    padding:10px 20px; 
    display:block; 
    border-bottom: 1px solid rgba(225,225,225,0.1); 
    font-family:fantasy;

}
nav ul li a i{
    
    color:#4fd8eb; 
    padding-right:13px;

}
}





@media only screen and (max-width: 480px) {
section.intro {
    max-width: 90%;
}
}

@media only screen and (max-width: 360px) {


label{
    
    padding:5px 0px;
}



nav{
   
    top:47px;
}
}


 
 
  @font-face {
    font-family: 'LeagueGothic';
    src: url('fonts/League_Gothic-webfont.eot');
    src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/League_Gothic-webfont.woff') format('woff'),
         url('fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SourceSansProLight';
    src: url('fonts/SourceSansPro-Light-webfont.eot');
    src: url('fonts/SourceSansPro-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SourceSansPro-Light-webfont.woff') format('woff'),
         url('fonts/SourceSansPro-Light-webfont.ttf') format('truetype'),
         url('fonts/SourceSansPro-Light-webfont.svg#SourceSansProLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
 .content{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:75%;

}
#secwrapper{
	background-color: #ccc;
    padding-top: 20px; 
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    
    
}
#secwrapper .content{
    width:75%;
    margin-left:10px;
}
article{
	width:25%;
    margin-right:5px;
    margin-left:5px;
    margin-top:5px;
    margin-bottom:5px;
    border: 1px solid #c8c8c8;
	padding: 7px;
	border-radius: 3px;
	box-shadow: 0 2px 3px #ccc;
	background-color: rgb(250, 202, 202);
}
.rightcl{
    margin-right: 0px;
    width:30%;
}
.readmore{
	background-color: black;
	padding: 5px 10px;
	color: white;
	text-decoration: none;
	border-radius: 3px;
	display: inline-block;
}
.readmore:hover{
	background-color: #383838;
}
article p{
	margin-bottom: 7px;
}
article img{
    width:100%;
    height:auto;
}


.img-container
{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:100%;
    height:100%;
    flex-wrap:wrap;
}
.img-container img{
    width:30%;
    height:auto;
    margin-bottom: 10px;
}
#featured{
	position: relative;
}
#title h2{
    font-weight:bold;
    text-align:center;
    font-family:'Courier New', Courier, monospace;
    color:rgba(21, 185, 109, 0.856);
    font-size:30px;
    float:left;
    margin-left:30px;
    
}
article h1{
    font-size:22px;
    font-weight: bold;
    color:rgb(175, 40, 17);
}
.articles{
    width:20%;
    background-color: cornsilk;
    text-align: center;
}


#link-list ul{
       list-style:none;
       width:85%;
       margin-left:40px;
   }
    #link-list ul li{
       background:#37bc9b;
       color:#FFF;
       counter-increment: myCounter;
       margin:0 0 30px 0;
       padding: 13px;
       position: relative;
       top:1em;
       border-radius:0em 2px 1em 1em;
       padding-left:2em;
       font-size:1.2em;
       font-family:cursive;
   }
   #link-list ul li:before{
    content: counter(myCounter, decimal-leading-zero);
    display: inline-block;
    text-align: center;
    font-size: 2em;
    line-height: 1.3em;
    background-color:  #48CFAD;
    padding: 10px;
    font-weight: bold;
    position: absolute; 
    top: 0;
    left: -40px;
    border-radius: 50%;
    font-family:cursive;
}


#list-link ul li:nth-child(even){
    background-color: #434A54;
   }
@media screen and (max-width: 560px){
    section.content{
        display:flex;
        flex-direction: column;
        width:100%;
    
    }
    .content article{
        width:-webkit-fill-available;
    }
    #secwrapper{
        background-color: #ccc;
        padding-top: 20px; 
        display: flex;
        flex-direction:column;
        justify-content:space-between;

}
#secwrapper .content{
    width:100%;
    text-align: center;
}
.articles{
    width:100%;
    text-align: center;
}
}