body { 
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:15px;
    line-height:1.5;
    background-color:#171e20b0;}


a {

    color:rgb(109, 236, 215);
    text-decoration:none;
    text-transform:uppercase;
    font-size:16px;
    font-family: cursive;
    
}

a:hover {

	color: rgb(113, 190, 50);

}

img {

	width: 100%;

}

header {

	
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	
	z-index: 100;
    background:#35424a;
    
    
  
    border-bottom:#e8491d 3px solid;
}

#logo{

    margin-bottom: 20px;
    margin-top:0px;
    margin-left:3px;
	float: left;
	width: 100px;
	height: 75px;
	background: url(./resized.png) no-repeat center;
	display: block;

}

nav {

	float: right;
    padding: 20px;	
    

   
      
}

nav a:hover{
    color:#000;
}

  
#menu-icon {

	display: hidden;
	width: 40px;
	height: 40px;
	background: rgb(167, 123, 236) url(./menu.png) center;

}

a:hover#menu-icon {

	background-color: #660000;
	border-radius: 4px 4px 0 0;

}

  


ul {

	list-style: none;

}

li {

	display: inline-block;
	float: left;
    padding: 10px;
   

}

.current {

	color: #2262AD;

}

section {

	margin: 80px auto 40px;
	max-width: 980px;
	position: relative;
	padding: 20px

}




@media only screen and (max-width : 640px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: rgb(151, 98, 98);
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

    }
}