*{
    text-decoration:none;
    list-style:none; 
    margin:0px; 
    padding:0px; 
    outline:none;
}

body{
    margin:0px; 
    padding:0px;
    font-family: cursive, sans-serif;
    text-rendering:optimizeLegibility;
    }

section{
    width:100%;
    max-width:1200px; 
    margin:0px auto;
    display:table;
    position:relative;
}


.content{
    width:80%;

}


h1{
    margin:0px auto;
    display:table;
    font-size:26px;
    padding:40px 0px;
    color:white; 
    text-align:center;
}


header{
    width:100%;
    display:table;
    background-image:linear-gradient(rgb(0, 0, 0),rgba(163, 17, 54, 0.842));
    margin-bottom:20px;
    }

#logo img{
    float:left; 
    height:100px;
    width:auto;
    padding:20px 0px;
}

nav{
    width:auto;
    float:right;
    margin-top:50px;
}
nav ul{
    display:table;
     float:right;
    }
nav ul li{
    float:left;
}
nav ul li:last-child{
    padding-right:0px;
}
nav ul li a{
    color:#1abec3;
    border-radius:24px;
    border:2px solid #1abec3;
    font-size:18px;
    padding: 10px 10px;
    display:inline-block; 
    transition: all 0.5s ease 0.5s;
}
nav ul li a:hover{
    transition: all 0.5s ease 0.5s;
    background-color:transparent;
    color:#9dd1d1; 
    }
nav ul li a:hover i{
    color:#28fdb6; 
    transition: all 0.5s ease 0s;
}
nav ul li a i{
    padding-right:10px; 
    color:#85b3e2; 
    transition: all 0.5s ease 0s;
}

.toggle-menu ul{
    display:table; 
    width:25px;
}
.toggle-menu ul li{
    width:100%; 
    height:3px; 
    background-color:black; 
    margin-bottom:4px;
}
.toggle-menu ul li:last-child{
    margin-bottom:0px;
}

input[type=checkbox], label{
    display:none;
}

.content{
    display:table; 
    margin-bottom:60px; 
    width:900px;}
.content h2{

    font-size:18px; 
    font-weight:500; 
    color:#e01414; 
    border-bottom:1px solid #fde428; 
    display:table; 
    padding-bottom:10px; 
    margin-bottom:10px;

}
.content p{
    font-size:14px; 
    line-height:22px; 
    color:#c74a4a; 
    text-align:justify;
    font-family: cursive}

footer{
    
    display:table; 
    padding-bottom:30px; 
    width:100%; 
    background-color: rgb(53, 189, 189);}
.social{
    
    margin:0px auto; 
    display:table;

}
.social li{
    
    float:left; 
    padding:0px 10px;

}
.social li a{

    color:#0a0214; 
    transition: all 0.5s ease 0s;

}
.social li a:hover{
    
    color:rgb(107, 219, 172); 
    transition: all 0.5s ease 0s;

}

@media only screen and (max-width: 1440px) {
section{
    
    max-width:95%;

}


}

@media only screen and (max-width: 980px) {
header{

    padding:20px 0px;

}
#logo{
    
    padding:0px;
}
input[type=checkbox] {
    position: absolute; 
    top: -9999px; 
    left: -9999px; 
    background:none;

}
input[type=checkbox]:focus{
    
    background:none;
}
label {
    
    float:right; 
    padding:8px 0px; 
    display:inline-block; 
    cursor:pointer;
 }
input[type=checkbox]:checked ~ nav {
    display:block;
}

nav{
    display:none; 
    position:absolute; 
    right:0px; 
    top:53px; 
    background-color:transparent; 
    padding:0px; 
    z-index:99;}
nav ul{
    width:auto;
}
nav ul li{
    float:none; 
    padding:0px; 
    width:100%; 
    display:table;
}
nav ul li a{
    color:rgb(10, 10, 10); 
    font-size:15px; 
    padding:10px 20px; 
    display:block; 
    border-bottom: 1px solid rgba(225,225,225,0.1); 
    font-style:fantasy;

}
nav ul li a i{
    
    color:#4fd8eb; 
    padding-right:13px;

}
}

@media only screen and (max-width: 980px) {
.content{
    width:90%;
}
}

@media only screen and (max-width: 568px) {
h1{
    padding:25px 0px;
}
h1 span{
    display:block;
}
}

@media only screen and (max-width: 480px) {
section {
    max-width: 90%;
}
}

@media only screen and (max-width: 360px) {
h1{
    font-size:20px;
}

label{
    
    padding:5px 0px;
}

#logo{
    
    font-size: 20px;
}

nav{
   
    top:47px;
}
}

@media only screen and (max-width: 320px) {
h1 {
    padding: 20px 0px;
}
}

.banner{background:url("../images/cov3.jpg");
width:100%;
background-size:cover;}
.banner-text{
    display:flex;
    padding:15% 0;
}
.banner-text-items{
    color:black;
    margin:auto;
    text-align:center;
    width:50%;
}
.banner-text-items h1{
    color: #171718;
    font-size:3em;
    margin-bottom:20px;
    text-transform:uppercase;
}
.main-content{
    display:flex;
    flex-flow:row wrap;
    padding:5% 0;
}
.main1{
    flex:1;
    padding:3%;
    text-align:center;
}