*{
    text-decoration:none;
    list-style:none; 
    margin:0px; 
    padding:0px; 
    outline:none;
}

body{
    margin:0px; 
    padding:0px;
    height:100%;
    background-color: white;
    }

#navbar{
    width:100%;
    max-width:1200px; 
    margin:0px auto;
    display:table;
    position:relative;
	
}


header{
    width:100%;
    display:table;
    background:#C4DBF6;

    }

#logo img{
    float:left; 
    height:100px;
    width:200px;
    
}

nav{
    width:auto;
    float:right;
    margin-top:35px;
    font-family: 'Mystery Quest',cursive;
    font-weight:bold;
}
nav ul{
    display:table;
     float:right;
    }
nav ul li{
    float:left;
}
nav ul li:last-child{
    padding-right:0px;
}
nav ul li a{
    color:#720a35;
    font-size:18px;
    padding: 10px 10px;
    display:inline-block; 
    transition: all 0.5s ease 0s;
}
nav ul li a:hover{
    background-color:transparent;
     color:#df6071;
     transition: all 0.5s ease 0s;
    }
nav ul li a:hover i{
    color:#720a35;
    transition: all 0.5s ease 0s;
}
nav ul li a i{
    padding-right:10px; 
    color:#720a35;
    transition: all 0.5s ease 0s;
}

.toggle-menu{
     
    height:10px; 
    color:rgb(20, 2, 2);
    margin-bottom:4px;
    font-size:20px;
    margin-bottom:0px;
   float:right;
    top:5%;
  
}

#toggle-1,.toggle-menu{
    display:none;
}
.active
{
    
    border-top:2px solid #B23850;
}








#title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:40px;

}
@media only screen and (max-width: 1440px) {
#navbar{
    
    max-width:95%;

}


}

@media only screen and (max-width: 980px) {
header{

    padding:20px 0px;

}
#logo{
    
    padding:0px;
}
#toggle-1 {
    position: absolute; 
    top: -9999px; 
    left: -9999px; 
    background:rgb(25, 31, 32);
    float: right;

}
#toggle-1:focus{
    
    background:whitesmoke;
}
.toggle-menu {
    
  
    padding:8px 0px; 
    display:inline-block; 
    cursor:pointer;
 }
 #toggle-1:checked ~ nav {
    display:block;
}

nav{
    display:none; 
    position:absolute; 
    right:0px; 
    top:53px; 
    background-color:#C4DBF6;
    padding:0px; 
    z-index:2;}
nav ul{
    width:auto;
}
nav ul li{
    float:none; 
    padding:0px; 
    width:100%; 
    display:table;
}
nav ul li a{
    color:#720a35;
    font-size:15px; 
    padding:10px 20px; 
    display:block; 
    border-bottom: 1px solid rgba(225,225,225,0.1); 
   

}
nav ul li a i{
    
    color:#720a35;
    padding-right:13px;

}
}





@media only screen and (max-width: 480px) {
#navbar{
    max-width: 90%;
}
}

@media only screen and (max-width: 360px) {


label.toggle-menu{
    
    padding:5px 0px;
}



nav{
   
    top:47px;
}
}


.wrapper{
    width: 70%;
    height: auto;
    margin-left:15%;
    margin-right:15%;
    background-color: white;
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
}
.container{
margin:2%;
width:auto;
height:auto;
display:flex;
background-color: white;
flex-direction: column;

}
#articles{
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width:65%;
    
}
.article{
    background-color:rgb(192, 187, 187);
    width:600px;
    height: 400px;
    margin-top:2%;
}
.sidebar{
    width:25%;
   height:auto;

}
.sidebar button {
    display: block;
    background-color:whitesmoke;
    color: #720a35;
    font-family: 'Amaranth',cursive;
    font-size: 30px;
    font-weight: bold;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
   
  }
  
  /* Change background color of buttons on hover */
  .sidebar button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .sidebar button.tablinks.active {
    background-color: #C4DBF6;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
  }
  .flex-item {
    background-color: whitesmoke;
    box-shadow: #222;
  
    
   
    margin-left:20px;
    margin-right:20px;
    margin-top:30px;
    margin-bottom:10px;
    border-radius:25px;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.25), 
      -3px -3px 3px 3px rgba(0,0,0,0.22);
      transition: 0.4s;
    display:flex;
    flex-direction: column;
    align-items: center;
   
   
   }
   .flex-item:hover{
       box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
     
     transform: scale(1.1, 1.1);
   }
   .text-center{
       text-align:center;
   }
   .small{
       width:20%;
       color: white;
       font-size:22px;
       font-weight:bold;
       background-color:#720a35;
       text-align:center;

   }
   
   .big{
       width:70%;
       font-size:20px;
       color:#720a35;
       font-family: cursive;
   }
   .title{
       font-size:20px;
       margin-left:20px;
   }
   .subtitle{
       font-size:16px;
       margin-left:20px;
   }
   .button{
      width:100%;
      margin-right:70px;

   }
   #read{
     width:200px;
     margin-left:170px;
     height:50px;
    
	background-color:#720a35;

	border-radius:8px;

	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	
	text-decoration:none;
	
   }
   .row{
       display:flex;
       flex-direction: row;
       flex-wrap: wrap;
       width:90%;
       margin-left:20px;
       margin-top:25px;
   }
   .image{
       width:35%;

   }
   .image img{
       width:200px;
       height:200px;
   }
   .content{
       width:60%;
       margin-left:20px;
   }

   .petpic
{
  width: 250px;
  height: 230px;

}
@media only screen and (max-width:700px){
    .wrapper{
        flex-direction: column;
        width:90%;

    }
    .sidebar{
        width:90%;
    }
    .article{
width:90%;

    }
    }