*{
    text-decoration:none;
    list-style:none; 
    margin:0px; 
    padding:0px; 
    outline:none;
}



#navbar{
    width:100%;
    max-width:1200px; 
    margin:0px auto;
    display:table;
    position:relative;
	
}


header{
    width:100%;
    display:table;
    background:#C4DBF6;

    }

#logo img{
    float:left; 
    height:100px;
    width:200px;
    
}

nav{
    width:auto;
    float:right;
    margin-top:35px;
    font-family: 'Mystery Quest',cursive;
    font-weight:bold;
}
nav ul{
    display:table;
     float:right;
    }
nav ul li{
    float:left;
}
nav ul li:last-child{
    padding-right:0px;
}
nav ul li a{
    color:#720a35;
    font-size:18px;
    padding: 10px 10px;
    display:inline-block; 
    transition: all 0.5s ease 0s;
}
nav ul li a:hover{
    background-color:transparent;
     color:#df6071;
     transition: all 0.5s ease 0s;
    }
nav ul li a:hover i{
    color:#720a35;
    transition: all 0.5s ease 0s;
}
nav ul li a i{
    padding-right:10px; 
    color:#720a35;
    transition: all 0.5s ease 0s;
}

.toggle-menu{
     
    height:10px; 
    color:rgb(20, 2, 2);
    margin-bottom:4px;
    font-size:20px;
    margin-bottom:0px;
   float:right;
    top:5%;
  
}

#toggle-1,.toggle-menu{
    display:none;
}
.active
{
    
    border-top:2px solid #B23850;
}








#title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:40px;

}
@media only screen and (max-width: 1440px) {
#navbar{
    
    max-width:95%;

}


}

@media only screen and (max-width: 980px) {
header{

    padding:20px 0px;

}
#logo{
    
    padding:0px;
}
#toggle-1 {
    position: absolute; 
    top: -9999px; 
    left: -9999px; 
    background:rgb(25, 31, 32);
    float: right;

}
#toggle-1:focus{
    
    background:whitesmoke;
}
.toggle-menu {
    
  
    padding:8px 0px; 
    display:inline-block; 
    cursor:pointer;
 }
 #toggle-1:checked ~ nav {
    display:block;
}

nav{
    display:none; 
    position:absolute; 
    right:0px; 
    top:53px; 
    background-color:#C4DBF6;
    padding:0px; 
    z-index:2;}
nav ul{
    width:auto;
}
nav ul li{
    float:none; 
    padding:0px; 
    width:100%; 
    display:table;
}
nav ul li a{
    color:#720a35;
    font-size:15px; 
    padding:10px 20px; 
    display:block; 
    border-bottom: 1px solid rgba(225,225,225,0.1); 
   

}
nav ul li a i{
    
    color:#720a35;
    padding-right:13px;

}
}





@media only screen and (max-width: 480px) {
#navbar{
    max-width: 90%;
}
}

@media only screen and (max-width: 360px) {


label.toggle-menu{
    
    padding:5px 0px;
}



nav{
   
    top:47px;
}
}
.banner{
  
	width:100%;
	background-size:cover;
 
    margin-top:10px;
  
    display:flex;
  
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
   width:100%; 
    min-height: 80%;
    z-index: -2;
  }
  
  .content{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
.main1{
    flex:-2;
    padding:3%;
    text-align:center;
    display:flex;
   
    flex-direction:column;
    box-sizing: border-box;
    padding: 50px 20px;
    border-radius: 60px;
    width:33.33%; 
   
}

.foundpet-form, .lostpet-form{
    display:flex;
    flex-direction:column;
    position:relative;
    background-color: transparent;
    color:white;
    
 
    background: rgba(20, 20, 20, 0.6);
    box-sizing: border-box;
    padding: 50px 20px;
    border-radius: 24px;
    width:auto;
  
}
.registerForm{
    z-index:30;
}

.registerForm label{
    font-family: 'Corben', Georgia, Times, serif;
    color:white;
    opacity:1 !important;
    margin-top:15px;
}
.entryFormulat input[type="file"]{
    margin-top:15px;
}
::placeholder{
    color: white;
    opacity:0.7;
}
.entryFormularInvizibil, .entryFormularInvizibilRe
{
    display:none;
}

.entryFormular
{
    display:flex;
	font-family:cursive;
	font-size:18px;
	font-weight:bold;
}



.entryFormular , .entryFormularInvizibil, .entryFormularInvizibilRe
{
    flex-direction:row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.entryFormular input[type="text"]{
    border-radius:20px;
}
.entryFormularInvizibil,.entryFormularInvizibilRe{
    display:none;
}

.entryFormularCheck
{
    margin-bottom: 20px;
}
.entryFormularCheck input[type="checkbox"]
{
    margin-left: 25px;
}
.registerForm
{
    justify-content:space-between;
    display:flex;
    flex-direction: column;
    height:50%;
}

.registerForm input[type = "text"], .registerForm input[type = "tel"]{
    border:0;
    background: #720a35;
    
    padding: 14px 10px;
    outline: none;

    transition: 0.25s;
    width:50%;
  }

 #inputDetalii1, #inputDetalii2
  {
    border:0;
    background: #720a35;
    border-radius:20px;
   
    padding: 14px 10px;
    outline: none;
    transition: 0.25s;
    width:50%;
  }
 #inputZgarda1:checked +div, #inputZgarda2:checked +div{

    display:flex;
 }

 #inputReward2:checked  + div
 {
     display:flex;
 }

.registerForm input[type = "submit"]{
    border:0;
    background: #720a35;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #720a35;
    padding: 14px 40px;
    outline: none;
    color: white;
    font-weight: bold;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .registerForm input[type = "submit"]:hover{
    background: #720a35;
  }

  .registerForm input[type = "text"]:focus, #inputDetalii2:focus,#inputDetalii1:focus,  .registerForm input[type = "tel"]:focus{
    width: 380px;
    border-color: white;
  }


  .form-radio
  {
       -webkit-appearance: none;
       -moz-appearance: none;
       appearance: none;
       display: inline-block;
       position: relative;
       background-color: #f1f1f1;
       color: brown;
       top: 10px;
       height: 30px;
       width: 30px;
       border: 0;
       border-radius: 50px;
       cursor: pointer;     
       margin-right: 7px;
       outline: none;
  }
  .form-radio:checked::before
  {
       position: absolute;
       font: 13px/1 'Open Sans', sans-serif;
       left: 11px;
       top: 7px;
       content: '\02143';
       transform: rotate(40deg);
  }
  .form-radio:hover
  {
       background-color: #f7f7f7;
  }
  .form-radio:checked
  {
       background-color: #f1f1f1;
  }
  ::placeholder{
      color:white;
      opacity: 0.8;;
  }
  #labels
  {
       font: 24px "Merienda", sans-serif;
       color:white;
       text-align: left;
       -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
       cursor: pointer;
       margin-top:17px;
       font-weight:bold;
  } 
  