*{
    text-decoration:none;
    list-style:none; 
    margin:0px; 
    padding:0px; 
    outline:none;
}

body{
    margin:0px; 
    padding:0px;
  
    }

#navbar{
    width:100%;
    max-width:1200px; 
    margin:0px auto;
    display:table;
    position:relative;
	
}


header{
    width:100%;
    display:table;
    background-image:linear-gradient(rgb(0, 0, 0),rgba(163, 17, 54, 0.842));
    margin-bottom:20px;
    }

#logo img{
    float:left; 
    height:100px;
    width:auto;
    padding:20px 0px;
}

nav{
    width:auto;
    float:right;
    margin-top:50px;
}
nav ul{
    display:table;
     float:right;
    }
nav ul li{
    float:left;
}
nav ul li:last-child{
    padding-right:0px;
}
nav ul li a{
    color:#eec1f0;
    border-radius:24px;
    font-size:18px;
    padding: 10px 10px;
    display:inline-block; 
    transition: all 0.5s ease 0s;
}
nav ul li a:hover{
    background-color:transparent;
     color:#f076ea; 
     transition: all 0.5s ease 0s;
    }
nav ul li a:hover i{
    color:#28fdb6; 
    transition: all 0.5s ease 0s;
}
nav ul li a i{
    padding-right:10px; 
    color:#85b3e2; 
    transition: all 0.5s ease 0s;
}

.toggle-menu{
     
    height:10px; 
    color:white;
    margin-bottom:4px;
    font-size:20px;
    margin-bottom:0px;
   
    top:5%;
  
}

#toggle-1,.toggle-menu{
    display:none;
}
.active
{
    border-radius:24px;
    border:2px solid #1abec3;
}



footer{
    
    display:table; 
    padding-bottom:30px; 
    width:100%; 
    background-color: rgb(53, 189, 189);}
.social{
    
    margin:0px auto; 
    display:table;

}
.social li{
    
    float:left; 
    padding:0px 10px;

}
.social li a{

    color:#0a0214; 
    transition: all 0.5s ease 0s;

}
.social li a:hover{
    
    color:rgb(107, 219, 172); 
    transition: all 0.5s ease 0s;

}

@media only screen and (max-width: 1440px) {
#navbar{
    
    max-width:95%;

}


}

@media only screen and (max-width: 980px) {
header{

    padding:20px 0px;

}
#logo{
    
    padding:0px;
}
#toggle-1 {
    position: absolute; 
    top: -9999px; 
    left: -9999px; 
    background:none;

}
#toggle-1:focus{
    
    background:none;
}
.toggle-menu {
    
    float:right; 
    padding:8px 0px; 
    display:inline-block; 
    cursor:pointer;
 }
 #toggle-1:checked ~ nav {
    display:block;
}

nav{
    display:none; 
    position:absolute; 
    right:0px; 
    top:53px; 
    background-color:transparent; 
    padding:0px; 
    z-index:99;}
nav ul{
    width:auto;
}
nav ul li{
    float:none; 
    padding:0px; 
    width:100%; 
    display:table;
}
nav ul li a{
    color:rgb(10, 10, 10); 
    font-size:15px; 
    padding:10px 20px; 
    display:block; 
    border-bottom: 1px solid rgba(225,225,225,0.1); 
    font-family:fantasy;

}
nav ul li a i{
    
    color:#4fd8eb; 
    padding-right:13px;

}
}





@media only screen and (max-width: 480px) {
#navbar{
    max-width: 90%;
}
}

@media only screen and (max-width: 360px) {


label.toggle-menu{
    
    padding:5px 0px;
}



nav{
   
    top:47px;
}
}

.main-content{
	margin-left:25px;
	tex-align:center;
	padding: 12px;
}
.main-content .stats{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	margin:20px 20px 20px 20px;
	text-align:center;
	
}
.main-content .stats h1{
	font-family:cursive;
	color: violet;
	font-weight:bold;
	font-size: 24px;
}
.main-content .stats button{
	display:flex;
	flex-direction:column;
justify-content:space-between;}