

body { 
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:15px;
    line-height:1.5;
    background-color:#171e20b0;}
header{
    position:relative;}

.row
{
    max-width: 1200px;
    margin: auto;
}
a{
    color:rgb(109, 236, 215);
    text-decoration:none;
    text-transform:uppercase;
    font-size:16px;
    font-family: cursive;
}
nav
{
    float: right;
    padding:20px;
}
nav a:hover{
    color:rgba(37, 165, 165, 0.836)
}
ul {

	list-style: none;

}

li {

	display: inline-block;
	float: left;
    padding: 10px;
   

}
 li.active a
{
    border: 1px solid white;
    
}

 a:hover
{
    border: 1px solid white;
}
#menu-icon {

	display: hidden;
	width: 40px;
	height: 40px;
	background:transparent url(./menu.png) center;

}
a:hover#menu-icon {

	background-color:transparent;
	border-radius: 4px 4px 0 0;

}

nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.hero
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
    
}


h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
    
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(cover.jpg);
    height: 100vh;
    background-size: cover;
    width:100%;
    background-position:center;
}
.button
{
    margin-top: 30px;
    margin-left: 440px;
}

.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}



.logo img
{
    width: 100px;
    height: auto;
}

.options{
    font-size:16px;
}
.options.container{
    float:left;
    display:block;
}

@media screen and (max-width :500px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background-color: transparent;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

    }
}


@media(min-width:300px) and(max-width:767px){
    section .container{
        padding-top:10rem;
    }
}
section .attention-title{
    font-size:5rem;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    text-transform:uppercase;
}
section .attention-title .list-group-item{
    font-size:2.4rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight:300;
    text-transform:capitalize;
    padding:0 !important;
    border:0 !important;
    background-color: transparent!important;
}
section .attention-title .list-group-item span{
    font-size:1.8 rem;
    margin-right:2rem;

}






